* {
  font-family: Helvetica;
  color: #333;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}

p {
  font-size: 18px;
  line-height: 1.5em;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  height: 100%;
  -webkit-box-shadow: 5px 9px 15px -12px #000000;
  box-shadow: 5px 9px 15px -12px #000000;
  border-radius: 5px;
  border: 0px solid #ccc;
  animation-name: zoomIn;
  animation-duration: 1s;
  background-color: #fff;
  transition-duration: 0.5s;
}

/*.container:hover {
  border: 20px solid #00b6cc;
}*/

.main-text {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1em;
  margin-bottom: 48px;
  margin-top: 40px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.letter {
  transition: 0.1s ease-in-out;
}

.card {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Skills Styling */
.skills {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.skills img {
  height: 65px;
}

/* Icon Drop */
.icon-drop{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.icon-drop:hover{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-animation-name: icon-drop;
  animation-name: icon-drop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Scavenger Hunt */
.hidden {
  outline: none;
}

.hidden:focus {
  outline: none;
}

/* Mr M */
.its-a-me {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 400px;
  left: -200px;
  transition: left 800ms ease-in-out;
}

.its-a-me:hover {
  left: 0;
}

.mr-m {
  display: fixed;
}

/* Loading Screen */
#loading_screen {
  background-color: #141414;
  bottom: 0;
  color: black;
  display: block;
  font-size: 32px;
  left: 0;
  overflow: hidden;
  padding-top: 10vh;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.fadeout {
  animation: fadeout 0.8s forwards;
}

/* Comic Sans */
.comic-sans {
  transition-duration: 0.5s;
}

.comic-sans:hover {
  /*background-color: red;*/
  font-family: "Comic Sans MS", sans-serif !important;
}

/* Rain Code */
canvas#canvasRain {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0px;
}

/* Animations */
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes icon-drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  51%,
	100% {
    opacity: 1;
  }
}

@keyframes icon-drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  51%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Small Screen Styling */
@media only screen and (max-width: 760px) {
  .main-text {
    font-size: 40px;
  }
  .skills {
    align-items: center;
    justify-content: center;
  }
}

/* .icon-html {
  width: 64px;
}

.icon-css {
  width: 48px;
}

.icon-js {
  width: 54px;
}

.icon-python {
  height: 64px;
  margin-bottom: -8px;
  margin-left: -4px;
} */
