* {
  font-family: Helvetica;
  color: #333;
  margin:0;
  padding:0;
}

p {
  font-size: 18px;
  line-height: 1.5em;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  height:100%;
  -webkit-box-shadow: 5px 9px 15px -12px #000000; 
  box-shadow: 5px 9px 15px -12px #000000;
  border-radius:5px;
  border:1px solid #ccc;
  animation-name:zoomIn;
  animation-duration:1s;
}

.main-text {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1em;
  margin-bottom: 48px;
  margin-top:40px;
}

.text-center {
  text-align: center;
  margin-bottom:20px;
}

.label {
  font-weight: bold;
}

.skills {
  width: 50%;
  margin: auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:50px;
  flex-wrap:wrap;
}


.skills img{

  height:65px;
}
.icon-html {
  width: 64px;
}

.icon-css {
  width: 48px;
}

.icon-js {
  width: 54px;
}

.icon-python {
  height: 64px;
  margin-bottom: -8px;
  margin-left: -4px;
}

/* LOADING SCREEN STYLING */

#loading_screen {
  background-color: #141414;
  bottom: 0;
  color: black;
  display: block;
  font-size: 32px;
  left: 0;
  overflow: hidden;
  padding-top: 10vh;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.fadeout {
  animation: fadeout 0.8s forwards;
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* END OF LOADING SCREEN STYLING */

.letter {
  transition: .1s ease-in-out;
}

.hidden {
  outline: none;
}

.hidden:focus {
  outline:none;
}

/*Animation*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
